/* Font for siteheading and brand */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Distressed&display=swap');

/* Main */
.main-bg {
    font-size: 20px;
    color: #212529;
    font-family: 'Poppins', sans-serif;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #f357f6 100%);
}
header h2 span{
    font-family: 'Rubik Distressed', cursive;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: large;
    
}


p {
    line-height: 1.5;
    margin: 30px 0;
    font-size: medium;
    
}
span {
    font-family: cursive;
    font-size: 20px;
    font-size: small;
}

p a {
    text-decoration: underline
}


h6 {
    font-weight: 800;
    font-size: medium;
    font-family:  'Poppins', Arial, sans-serif
}

.masthead-text {
    
    color: #061260c9;
    position: relative;
}


/* Navigation */

#mainNav {
    position: absolute;
    border-bottom: 1px solid #e9ecef;
    font-family: 'Poppins', Arial, sans-serif
}

#mainNav .navbar-brand {
    font-weight: 800;
    color: #343a40
}

#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40
}

#mainNav .navbar-nav>li.nav-item>a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase
}

.navbar-brand {
    font-family: 'Rubik-Distressed';
    font-size: 5vh;
}

.navbar-brand>img {
    max-height: 25vh;
    max-width: 20vh;
}

.nav-link.text-left {
    position: absolute;
    right: 0;
    margin: 0;
}


/* profiles */

.card-img-top {
    height: 50vh;
    object-fit: cover;
}
#id_bio_iframe {
    border: 0;
    width: auto;
}
#id_name, #id_email, #id_county, #id_profession {
    width: 90%;
}

.white_div_margin {
   margin-left: 0px; 
   margin-right: auto;
}

/* Footer */

footer li {
    color: #357cc9;
}


@media only screen and (min-width:320px){
    .profile_img {
        width:30%
    }
    #id_bio {
        width: 90%;
    }
    
}

