{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Create Profile</h1>
            <p>Please create a profile with detailed bio about your work</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.name| as_crispy_field }}
                {{ form.profession | as_crispy_field }}
                {{ form.email| as_crispy_field }}
                {{ form.county | as_crispy_field }}
                {{ form.avatar | as_crispy_field }}
                {{ form.bio | as_crispy_field }}
                </select>
                <br>
                <button type="submit" class="btn btn-secondary"> Create</button>
                <a href="{% url 'home' %}" role="button" class="btn btn-secondary">Go back</a>
            </form>
        </div>
    </div>
    <br>
</div>

{% endblock %}