{% extends "base.html" %}

{% block content %}

  <!-- site heading -->
<header class="masthead masthead-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div>
          <h2><span>Freelance</span>
            <span>Stylists</span>
            <span> and </span> 
            <span>Makeup</span>
            <span>Artists</span></h2>
        </div>
      </div>
    </div>
  </div>
</header>
<br>
<div class="container-fluid">
    <div class="row">

        <!-- Profile Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for profile in profile_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in profile.avatar.url %}
                                <img class="rounded-circle mb-3" style="width: 150px;"
                                    src="https://res.cloudinary.com/mycodestudies/image/upload/v1681492425/hair-dresser_w1z3yc.jpg" alt="Avatar" >
                                {% else %}
                                <img class="card-img-top" src=" {{ profile.avatar.url }}" alt="profile image of the user">
                                {% endif %}
                                <div class="image-flash">
                                    <a href="{% url 'profile_detail' profile.slug %}" class="post-link"></a>
                                    <h5 class="mb-2"><strong>{{ profile.name }}</strong></h5>
                                </div>
                            </div>
                            <a href="{% url 'profile_detail' profile.slug %}" class="post-link">
                                <p class="text-muted h5">{{ profile.profession }} </p>

                            </a>
                            <hr>
                            <p class="card-text text-muted h6">{{ profile.created_on}}</p>


                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}