{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Profile Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for profile in profile_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in profile.avatar.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/mycodestudies/image/upload/v1681492418/beautician_img1_vqvgko.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ profile.avatar.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">{{ profile.name }}</p>
                                </div>
                            </div>
                            <a href="{% url 'prof_detail' profile.slug %}" class="post-link">
                                <h2 class="card-title">{{ profile.profession }}</h2>
                               
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ profile.created}}</p>


                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" 
                class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" 
                class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}
