{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<header class="masthead masthead-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto site-heading-parent">
          <div class="site-heading-parent">
            
            <br>
  </header>
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Profile title and profession -->
                <h1 class="profile-title">{{profile.name}}</h1>
                <p class="profile-subtitle">{{profile.profession}}</p>
                <p class="profile-subtitle">{{profile.email}} </p>
                <p class="profile-subtitle">{{profile.county}} </p>
                <p class="profile-subtitle">{{profile.avatar}} </p>
                <p class="profile-subtitle">{{profile.created_on}} </p>
               
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in profile.avatar.url %}
                <img src="https://res.cloudinary.com/mycodestudies/image/upload/v1682080266/makeup-transformed_dkltfn.jpg" width="80%" alt="profile image">
                {% else %}
                <img src="{{ profile.avatar.url }}" width="80%" alt="user has uploaded a custom image">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- user bio -->
                <p class="card-text ">
                    {{profile.bio | safe}}
                </p>
            </div>
                <div class="row">
                    <div class="col-1">
                        {% with reviews.count as total_reviews %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_reviews}}</strong>
                        {% endwith %}
                    </div>
                </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Reviews:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for review in reviews %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ review.first_name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ review.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ review.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        {% if user.is_authenticated %}
        {% if request.user != profile.user %}
            <div class="col-md-4 card mb-4  mt-3 ">
                <div class="card-body">
                       <h3>Write a Review:</h3>
                        <p>Posting as: {{ request.user }}</p>
                        <form method="post" style="margin-top: 1.3em;">
                            {{ review_form | crispy }}
                            {% csrf_token %}
                            <br>
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </form>

                         
                </div>
            </div>
         
           {% endif %}
            {% endif %}
    </div>
 </div>
</div>
</div>

{% endblock content %}