{% extends 'base.html' %}
{% load static %}
 {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Profile title and profession -->
                <h1 class="post-title">{{profile.name}}</h1>
                <p class="post-subtitle">{{profile.profession}}</p>
                <p class="post-subtitle"> County:{{profile.county}} </p>
                <p class="post-subtitle"> {{profile.email}} </p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in profile.avatar.url %}
                <img src="https://res.cloudinary.com/mycodestudies/image/upload/v1681492418/beautician_img1_vqvgko.jpg" width="100%">
                {% else %}
                <img src="{{ profile.avatar.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- user bio -->
                <p class="card-text ">
                    {{profile.bio | safe}}
                </p>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
       
        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- add social media links -->
        
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>



        </div>
    </div>
</div>

{% endblock content %}