{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="masthead masthead-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto ">
                <div>
                    <h2>My Profile</h2>
                    <br>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="masthead">
    <div class="container">
        <div class="row g-0">

            <div class="col-md-6 masthead-text">
                <p><strong>First Name: </strong> {{ profile.name }}</p>
                <p><strong>Profession: </strong> {{ profile.profession }}</p>
                <p><strong>Email: </strong> {{ profile.email }}</p>
                <p><strong>Bio: </strong> {{ profile.bio }}</p>
                <p><strong>Profile image: </strong> {{ profile.avatar }}</p>
                <br>
            </div>
        </div>
        <div class="d-none d-md-block col-md-6 masthead-image">
            <!-- The featured image URL goes in the src attribute -->
            {% if "placeholder" in profile.avatar.url %}
            <img src="https://res.cloudinary.com/mycodestudies/image/upload/v1682080266/makeup-transformed_dkltfn.jpg"
                 style="width:80%;"  alt="profile image">
            {% else %}
            <img src="{{ profile.avatar.url }}" style="width:80%;" alt="user has uploaded a custom image">
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
                <h3>Reviews:</h3>
                <div class="card-body">
                    <!-- We want a for loop inside the empty control tags to iterate through each review in-reviews -->
                    {% for review in reviews %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            <!-- The commenter's name goes here.-->
                            {{ review.first_name }}
                            <span class=" text-muted font-weight-normal">
                                <!-- The comment's created date goes here -->
                                {{ review.created_on }}
                            </span> wrote:
                        </p>
                        <!-- The body of the comment goes before the | -->
                        {{ review.body | linebreaks }}
                    </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div>
            <a href="{% url 'edit_profile' %}">Edit Profile</a>
            <br>
            <a href="{% url 'delete_profile' %}">Delete Profile</a>
        </div>
    </div>
</div>

{% endblock %}