{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="masthead masthead-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto site-heading-parent">
        <div class="site-heading-parent">
          <h2>My Profile</h2>
</header>
  <p><strong>First Name:</strong> {{ profile.name }}</p>
  <p><strong>Profession:</strong> {{ profile.profession }}</p>
  <p><strong>Email:</strong> {{ profile.email }}</p>
  <p><strong>Bio:</strong> {{ profile.bio }}</p>
  <p><strong>Profile image:</strong> {{ profile.avatar }}</p>
  <a href="{% url 'edit_profile' %}">Edit Profile</a>
  <a href="{% url 'delete_profile' %}">Delete Profile</a>

  <div class="row">
    <div class="col">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Reviews:</h3>
        <div class="card-body">
            <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
            {% for review in reviews %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                    {{ review.first_name }}
                    <span class=" text-muted font-weight-normal">
                        <!-- The comment's created date goes here -->
                        {{ review.created_on }}
                    </span> wrote:
                </p>
                <!-- The body of the comment goes before the | -->
                {{ review.body | linebreaks }}
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
{% endblock %}